.all{
    padding: 5px;
}

.select {
    width: 170px;
    height: 37px;
    margin: 5px;
}

.reserv {
    display:inline-block;
    background-color: whitesmoke;
    padding: 15px;
}

.searchForm {
    display: inline-flex;
    padding:5px;
}

.btns{
    padding: 10px;
}
