.all{
    padding: 15px;
}

.input {
    padding: 10px;
}

.select {
    width: 170px;
    height: 37px;
    margin: 5px;
}

.config {
    margin-left: 500px; 
}

.reserv {
    display:inline-block;
    background-color: whitesmoke;
    padding: 15px;
}
