.EquipmentManagement {
	margin-top: 10px;
	margin-right: 10px;
}

div.stretched.thirteen.wide.column {
	padding-left: 0;
}

.identifierInput {
    padding: 0 0 0 24px !important;
    width: 220px !important
}

.typeDropdowns .ui.search.dropdown {
    min-width: '';
    margin-right: 10px;
}